


<div class="container">
    <h5></h5> 
<div>
   <b>{{blog.title}}</b>
</div>
<div>
    {{blog.content}}
</div>
<h5>
<strong>{{username}}</strong> 
<i> - {{format_date blog.createdAt}}</i>
</h5>
{{!-- <button id="editBtn" data-id="{{blog.id}}">Edit</button> --}}
{{!-- <button id="deleteBtn" data-id="{{blog.id}}">Destroy</button> --}}

<div id="commentContainer">
  {{!-- comment renders but after refresh it is at the bottom of page --}}
</div>

</div>
{{#if loggedIn}}
<div class="col-6">
<form class="login_form">
  <label for="comment">Comment:</label>
  <input id='commentInput' type="text" name="newpostSub" placeholder="Say whats on your mind..."/>
  <button id='commentBtn'>Submit</button>
</form>

<form class="login_form">
  <label for="comment">Edit:</label>
  <input id='updateTitle' type="text" name="newpostSub" placeholder="title update..."/>
  <input id='updateBody' type="text" name="newpostSub" placeholder="body update..."/>
  <button id='updateBtn' data-id="{{blog.id}}">Update</button>
  <button id="deleteBtn" data-id="{{blog.id}}">
  Destroy
</button>
</form>
</div>

<div id="commentContainer2">
  {{!-- run throuhg array with fro each to render userComments --}}
{{#each userComments}}
  <div>
    <p>{{text}}</p>
    <p>Posted by: {{user.username}}</p>
    {{!-- DATE NOT WORKING PROPERLY --}}
    <p>Posted on: {{format_date  user.createdAt}}</p>
  </div>
{{/each}}
</div>
{{!-- <div>
</div> --}}
{{/if}}
</div>


{{!-- BOTH ARE SAME DATATYPE --}}
<p>userId = {{userId}}</p>
<p>blog.creator_id = {{blog.creator_id}}</p>
<p>CreatoriD {{creator_id}}</p>
{{!-- DELEET BUTTON TO RENDER ONLY TO AUTHOR but not working --}}

{{!-- {{#if (userId === creator_id) }}
<div>

<button id="deleteBtn" data-id={{blog.id}}>
  Destroy
</button>

</div>
{{/if}} --}}
</div>

<div>
  {{#ifEquals userId blog.creator_id}}
    <!-- Content to render when the condition is true --><p>  HELLO</p>
  {{else}}
    <!-- Content to render when the condition is false --> <P>NOT THE RIGHT USER</P>
  {{/ifEquals}}
</div>



<script src="/js/homePage.js"></script>
