<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>TechBlogSpot</title>
  <link rel="stylesheet" href="/public/css/styles.css">
</head>


<div class="container">
    <h5></h5> 
<div>
   <b>{{blog.title}}</b>
</div>
<div>
    {{blog.content}}
</div>
<h5>
<strong>{{user.username}}</strong>
<i> - {{format_date createdAt}}</i>
</h5>
<button id="editBtn" data-id="{{blog.id}}">View</button>

{{#if loggedIn}}
<label for="comment">Comment:</label>

{{/if}}
</div>
</div>