
<div><a class="viewBlog" href="/dashboard">Create New Blog</a></div>
{{#each blogs as |blog|}}
<div class="blogpost-container">
    <h5></h5> 
<div>
   <b>{{blog.title}}</b>
</div>
<div>
    {{blog.content}}
</div>
<h5>
<strong>{{user.username}}</strong>
<i> - {{format_date createdAt}}</i>
</h5>
{{!-- <button id="editBtn" data-id="{{blog.id}}">View</button> --}}
<a class='newBlog' href="/dashboard/{{blog.id}}">View</a>
</div>
</div>
{{/each}}





{{!-- <script src="/js/homePage.js"></script> --}}