<div class="blogpost-container">
    <h5></h5> 
<div>
   <b>{{blog.title}}</b>
</div>
<div>
    {{blog.content}}
</div>
<h5>
<strong>{{user.username}}</strong>
<i> - {{format_date createdAt}}</i>
</h5>
<button id="editBtn" data-id="{{blog.id}}">View</button>

{{#if loggedIn}}
<label for="comment">Comment:</label>
<input name="comment">
{{/if}}
</div>
</div>